body {
    background-color: #8e6c88 !important;
    height: 100%;
    width: 100%;
}

.container {
    background-color: #E7DFDD;
    border: 1px solid;
    padding: 10px;
    box-shadow: 0 10px 18px black;
    border-bottom: none;
}
.navbar-collapse {
    text-align: center;
}

.navbar ul li a {
    color: #E7DFDD;
    padding-right: 50px;
    padding-top: 15px;
}

.navbar ul li a:hover {
    background-color: #0E0B16;
    box-shadow: black 0 0 50px ;
}

ul {
    flex-wrap: wrap;
}