<nav class="navbar navbar-dark bg-dark navbar-expand-lg sticky-top">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="../../../index.html" id="Home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../concerten/concerten.html" id="Concerten">Concerten</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../sport/sport.html" id="Sport">Sport</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../recepten/receptenAlgemeen.html" id="Recepten">Recepten</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="index.php" id="Contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>

</nav>
