body {
    background-color: #8e6c88 !important;
    height: 100%;
    width: 100%;
}

.container {
    background-color: #E7DFDD;
    border: 1px solid;
    padding: 10px;
    box-shadow: 0 10px 18px black;
    border-bottom: none;
}